<div class="container-fluid">
  <div class="row-fluid columns">
    <div class="span12 photo">
      <h4 class="pagination-centered">
        Fresh, actionable feedback for <span class="text-info">your website</span>,
        <br/>
        delivered to your inbox each week
      </h4>

      <%= form_for(@prelaunch, :remote => true, html: {class: 'beta-form'}) do |f| %>
          <h4>
            We're launching soon,
            <br/>
            we'll notify you!
          </h4>

          <div class="row-fluid">
            <div class="span3">
              <%= f.text_field :first_name, :placeholder => "First name" %>
            </div>
            <div class="span8">
              <%= f.text_field :email, :placeholder => "Email address" %>
              <%= f.submit 'Notify me!', class: 'btn btn-success' %>
            </div>
          </div>
          <p/>

      <% end %>

    </div>
  </div>
</div>
