<div class="container-fluid">
  <div class="row-fluid columns">
    <div class="span12 photo">
      <h4>
        10 random people visit <span class="text-info">your site</span>.<br/>
        They share what they <span class="text-warning">disliked</span>.<br/>
        Weekly you'll receive this <span class="text-error">critical feedback</span>.
      </h4>

      <%= form_for(@prelaunch, :remote => true, html: {class: 'beta-form'}) do |f| %>
          <h4>
            We're launching soon,
            <br/>
            we'll notify you!
          </h4>

          <div class="row-fluid">
            <div class="span3">
              <%= f.text_field :first_name, :placeholder => "First name" %>
            </div>
            <div class="span8">
              <%= f.text_field :email, :placeholder => "Email address" %>
              <%= f.submit 'Notify me!', class: 'btn btn-success' %>
            </div>
          </div>
          <p/>

      <% end %>

    </div>
  </div>
</div>
