body, html {
  height: 100%;
}

.container-fluid {
  margin: 0 auto;
  height: 100%;
  padding: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.prelaunches {
  padding-top: 0px !important;
  background-color: #EFFAFD;
}


.prelaunches {
  .columns {
    background-color: #EFFAFD;
    height: 100%;
  }

  .photo, .description {
    min-height: 100%;
    height: 100%;

    h2 {
      text-shadow: 0 1px 1px rgba(0,0,0,0.3);

      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }

  .photo {
    background: image-url('confused.jpg') no-repeat center center;
    background-size: cover;
    position: relative;

    h4 {
      font: bold 36pt/1.03em "Helvetica Neue",Helvetica,Arial,sans-serif;
      letter-spacing: -0.03em;
      display: inline;
      color: #fff;
      text-shadow: 1px 1px 18px #000;
      margin-top: 100px;
    }

    .beta-form {
      position: absolute;
      padding-left: 20px;
      bottom: 0;
      right: 0;
      line-height: 40px;
      vertical-align: middle;
      background-color: rgba(0,0,0,0.4);
      display: none;

      .info {
        color: #FFF;
      }

      .free {
        color: #26A72A;
        font-weight: bold;
      }


      #prelaunch_first_name {
        width: 7em;
      }

      #prelaunch_email {
        width: 12em;
        margin-right: 5px;
      }
    }

  }

  .description {
    margin-top: 50px;
    background-color: #EFFAFD;

    padding: 0px 20px 0px 20px;
  }
}